<h1>Edit Info</h1>

<form action="/users/<%= @user[:id] %>" method="post">
<input type="hidden" name="_method" value="patch">
  
  <p>
    First name:
    <br />
    <input type="text" name="fname" value="<%= @user[:fname] %>">
    <br />
  </p>

  <p>
    Last name:
    <br />
    <input type="text" name="lname" value="<%= @user[:lname] %>">
    <br />
  </p>

  <p>
    Email:
    <br />
    <input type="text" name="email" value="<%= @user[:email] %>">
    <br />
  </p>

  <input type="submit" value="Update User Info">
</form>

<a href="/users">Back to Main Page</a>