<h1>New User</h1>

<!-- within a form: inside a form we need to create an action and a method -->
<form action="/users" method="post">
  
  <p>
    First name:
    <br />
    <input type="text" name="fname">
        <!-- <input type="text" name="users[fname]">   @users.insert(params[:users])  -->
    <br />
  </p>

  <p>
    Last name:
    <br />
    <input type="text" name="lname">
    <br />
  </p>

  <p>
    Email:
    <br />
    <input type="text" name="email">
    <br />
  </p>

  <input type="submit" value="Create New User">
</form>

<a href="/users">Back to Main Page</a>
<!-- anchor tag linking redirecting -->